POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=olist
POSTGRES_USER=spark
POSTGRES_PASSWORD=spark


# Variables éventuelles pour Airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Exemple de variable pour Spark
SPARK_APP_NAME=ETL-Olist